@page
@model WebApp.Pages.Admin.Shoes.EditModel
@{
    Layout = "_LayoutAdmin";
}
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Shoe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Shoe.ShoeId" />
            <div class="form-group">
                <label asp-for="Shoe.Sku" class="control-label"></label>
                <input asp-for="Shoe.Sku" class="form-control" />
                <span asp-validation-for="Shoe.Sku" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shoe.Model" class="control-label"></label>
                <input asp-for="Shoe.Model" class="form-control" />
                <span asp-validation-for="Shoe.Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shoe.Color" class="control-label"></label>
                <input asp-for="Shoe.Color" class="form-control" />
                <span asp-validation-for="Shoe.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shoe.Size" class="control-label"></label>
                <input asp-for="Shoe.Size" class="form-control" />
                <span asp-validation-for="Shoe.Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shoe.Price" class="control-label"></label>
                <input asp-for="Shoe.Price" class="form-control" />
                <span asp-validation-for="Shoe.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shoe.Quantity" class="control-label"></label>
                <input asp-for="Shoe.Quantity" class="form-control" />
                <span asp-validation-for="Shoe.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="Shoe.ImageUrl" class="control-label"></label><br />
                <img style="height: 100px;width: 100px;" src="@Model.Shoe.ImageUrl" alt="ImageUrl" />
                <input asp-for="Shoe.ImageUrl" class="form-control" />
                <span asp-validation-for="Shoe.ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shoe.Description" class="control-label"></label>
                <input asp-for="Shoe.Description" class="form-control" />
                <span asp-validation-for="Shoe.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shoe.BrandId" class="control-label"></label>
                <select asp-for="Shoe.BrandId" class="form-control" asp-items="ViewBag.BrandId"></select>
                <span asp-validation-for="Shoe.BrandId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Shoe.CategoryId" class="control-label"></label>
                <select asp-for="Shoe.CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="Shoe.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
